<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Configuration</key>
	<dict>
		<key>is_ads_enabled</key>
		<false/>
		<key>is_app_active</key>
		<true/>
		<key>app_bundle_id</key>
		<string>app.calculator.vault</string>
		<key>app_id</key>
		<string>1528879092</string>
	</dict>
</dict>
</plist>
